body {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 700px;
  overflow: auto;
}

table {
  margin: 20px;
}

table, th, td {
  border: 1px solid rgba(104, 104, 104, 0.5);
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

th {
  background-color: #f2f8f9;
}

th[data-sort]:hover {
  cursor: pointer;
  opacity: 0.6;
}

.link {
  text-decoration: none;
  color: #0963f4;
}

.link:hover {
  text-decoration: underline;
  color: #1919e6;
}

.hidding {
  display: none;
}
